
body {
    background: url(images/KikiSmile.jpg);
    background-size: cover;
    background-position-x: center;
    font-family: 'Lato', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 3em;
}

hr {
    width: 75%;
}

#content {
    padding-top: 70%;
    text-align: center;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-right {
	margin-right: -50px;
}